
.icon-archive:before { content: '\e800'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e801'; } /* '' */
.icon-sort-alphabet:before { content: '\e802'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e803'; } /* '' */
.icon-sort-numeric:before { content: '\e804'; } /* '' */
.icon-cw-outline:before { content: '\e805'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e806'; } /* '' */
.icon-arrows-cw:before { content: '\e807'; } /* '' */
.icon-zoom-in:before { content: '\e808'; } /* '' */
.icon-zoom-out-outline:before { content: '\e809'; } /* '' */
.icon-zoom-out:before { content: '\e80a'; } /* '' */
.icon-zoom-in-outline:before { content: '\e80b'; } /* '' */
.icon-edit:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-eye-outline:before { content: '\e814'; } /* '' */
.icon-eye-2:before { content: '\e815'; } /* '' */
.icon-plus-1:before { content: '\e816'; } /* '' */
.icon-plus-outline:before { content: '\e817'; } /* '' */
.icon-home-outline:before { content: '\e818'; } /* '' */
.icon-home-1:before { content: '\e819'; } /* '' */
.icon-th-large:before { content: '\e81a'; } /* '' */
.icon-th-large-outline:before { content: '\e81b'; } /* '' */
.icon-ok-outline:before { content: '\e81c'; } /* '' */
.icon-cancel-outline:before { content: '\e81d'; } /* '' */
.icon-ok-1:before { content: '\e81e'; } /* '' */
.icon-cancel-1:before { content: '\e81f'; } /* '' */
.icon-menu-outline:before { content: '\e820'; } /* '' */
.icon-menu:before { content: '\e821'; } /* '' */
.icon-cog-outline:before { content: '\e822'; } /* '' */
.icon-cog-1:before { content: '\e823'; } /* '' */
.icon-wrench-outline:before { content: '\e824'; } /* '' */
.icon-wrench:before { content: '\e825'; } /* '' */
.icon-left-open:before { content: '\e826'; } /* '' */
.icon-left-open-outline:before { content: '\e827'; } /* '' */
.icon-power-outline:before { content: '\e828'; } /* '' */
.icon-power:before { content: '\e829'; } /* '' */
.icon-print-2:before { content: '\e82a'; } /* '' */
.icon-doc-add:before { content: '\e82b'; } /* '' */